# OpenAI LLM Config
OPENAI_BASE_URL=""
OPENAI_MODEL=""
OPENAI_API_KEY=""

# Database Config
MYSQL_HOST=""
MYSQL_PORT=3306
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DB=""

# Embedding Database Config
# QDrant_HOST="localhost" # QDrant host
# QDrant_PORT=6333 # QDrant port
CHROMA_HOST="chromadb" # ChromaDB host
CHROMA_PORT=8000 # ChromaDB port

# Hugging Face 镜像站
HF_ENDPOINT="https://hf-mirror.com"

# Backend API Security Key
API_KEY="volo-data-xx"

# OpenAI Embedding Model Config
Embedding_BASE_URL=""
Embedding_API_KEY=""

# REDIS Config
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_DB=0